.App-clock {
    font-family: 'Quicksand', sans-serif;
    font-size: 32px;
    text-align: center;
}


.wide {
    width: auto;
    height: auto;
    min-height: 100%;
    margin: 0 auto;
    overflow: hidden;
    border-bottom-right-radius: 40%;
    border-bottom-left-radius: 40%;
}

.main-container {
    width: auto;
    height:auto;
    min-height: 100%;
    margin: 0 auto;
    overflow: hidden;
    background: linear-gradient(to bottom, rgba(51, 51, 255, 0.1) 0%, rgba(12, 51, 242, 0.9) 5%),
    url(https://s7.postimg.org/yap5ueygr/back.png);
}

.top {

    opacity: 0.9;
    height: 150px;
    position: relative;
    width: 140%;
    margin-left: -20%;
    z-index: 2;
    margin-bottom: 20px;
}

.title {
    position: absolute;
    width: 350px;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}

.title h1 {
    font-size: 26px;
    text-align: center;
    font-weight: 300;
    margin-bottom: 10px;
    font-family: 'Montserrat Alternates', Arial, sans-serif;
}
.title h2, .title h2 span{
    font-size: 18px;
    text-align: center;
    margin-bottom: 10px;
    font-weight: 300;
    text-transform: none;

}

.add_btn {
    font-size: 42px;
    border: none;
    color: #ffffff;
    cursor: pointer;
    font-family: 'Montserrat Alternates', Arial, sans-serif;
    line-height: 1.1;
    margin-left: 10px;
    background-color: red;
    border-radius:100%;
    height: 45px;
    width: 45px;
    bottom: -17px;
    position: absolute;
    left:0;
    right:0;
    margin: 0 auto;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.1);
    z-index: 2;
}

.add__description {
    background-color: #f7f7f7;
    font-family: inherit;
    font-size: 20px;
    padding: 20px 15px 12px;
    transition: border 0.3s;
    width: 100%;
    border:none;
    margin-top: 20px;
    color: #939CA7;
}

.notes {
    margin-top: 25px;
}

.todos textarea {
    background: linear-gradient(to bottom, rgba(51, 51, 255, 0.1) 0%, rgba(12, 51, 242, 0.9) 0%),
    url(https://s7.postimg.org/yap5ueygr/back.png);
    opacity: 0.9;
    border-radius: 10%;
    border-color:transparent;
    font-family: 'Quicksand', sans-serif;
    font-size: 24px;
    color: white;
}

.close {
    background-color: red;
    opacity: 1;
}

.block{
    position:absolute;
    display:none;
    margin-left: 150px;
    margin-top: -50px;
    color: red;
}
.notes:hover .block{
    display:block;
}