.App-clock {
    font-family: 'Quicksand', sans-serif;
    font-size: 32px;
}


.wide {
    display: flex;
    text-align: center;
    overflow: hidden;
    border-bottom-right-radius: 40%;
    border-bottom-left-radius: 40%;
}

.main-container {
    width: 100%;
    height:auto;
    min-height: 100%;
    margin: 0 auto;
    background: linear-gradient(to bottom, rgba(51, 51, 255, 0.1) 0%, rgba(12, 51, 242, 0.9) 5%),
    url(https://s7.postimg.org/yap5ueygr/back.png);
    color: #fff;
}

.title h1 {
    font-size: 26px;
    text-align: center;
    font-weight: 300;
    font-family: 'Montserrat Alternates', Arial, sans-serif;
}
.title h2, .title h2 span{
    font-size: 18px;
    font-weight: 300;

}

.add_btn {
    border: none;
    background-color: red;
    border-radius:100%;
    height: 42px;
    width: 42px;
    color: #ffffff;
    font-family: 'Montserrat Alternates', Arial, sans-serif;
    font-size: 32px;

}

.add__description {
    background-color: #f7f7f7;
    font-family: inherit;
    font-size: 20px;
    padding: 20px 15px 12px;
    transition: border 0.3s;
    width: 100%;
    border:none;
    margin-top: 20px;
    color: #939CA7;
}

.notes {
    display: inline-flex;
    flex-wrap: wrap;
    margin-top: 25px;
    margin-left: 25px;

}

.todos textarea {
    background: linear-gradient(to bottom, rgba(51, 51, 255, 0.1) 0%, rgba(12, 51, 242, 0.9) 0%),
    url(https://s7.postimg.org/yap5ueygr/back.png);
    opacity: 0.9;
    border-radius: 10%;
    border-color:transparent;
    font-family: 'Quicksand', sans-serif;
    font-size: 24px;
    color: white;
}

.block{
    display: none;
}

.block button {
    border: none;
    background: inherit;
    font: 14px system-ui;
}

.notes:hover .block{
    display:inline;
    position: absolute;
    margin-left: -40px;
    margin-top: 150px;
}
